/* 
orange: #e67e22
*/

/*---------------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* usado para contar os tamanhos a partir da borda e não somar eles contando a partir do conteúdo (valor padrão que é content-box) */
}

html {
    background-color: #fff;
    color: rgb(119, 119, 119);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* usado para uma fonte mais legível */
}

.clearfix {zoom: 1} /* usado para limpar os floats */
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------------*/

.row { /* para centralizar os elementos */
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1px;
}

/*---------- HEADINGS ----------*/
h1, 
h2, 
h3 {
    font-weight: 300; /* peso da fonte é usado porque a formatação padrão do h1 vem em negrito */
    text-transform: uppercase;
}

h1 {
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%; /* em % relativo ao font-size do html */
}

h2{
    font-size: 180%;
    margin-bottom: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2::after { /* cria um pseudo-elemento que é o ultimo filho do elemento selecionado */
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " "; /* é necessário definir um content para esse pseudo-elemento para que posssa ser exibido algo */
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*---------- PARAGRAPHS ----------*/
.long-copy {
    line-height: 145%; /* distancia de uma linha para a outra de baixo */
    width: 70%;
    margin-left: 15%; /* 30% restantes do width dividido por 2, assim centralizando o texto */
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*---------- ICONS ----------*/
ion-icon {
    display: block;
    font-size: 350%;
    color: #e67e22;
    margin-bottom: 20px;
}

/*---------- BUTTONS ----------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 200px;
    font-weight: 300; /* peso da fonte */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* transição de cores, bordas e texto */
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/*---------------------------------------------------*/
/* HEADER */
/*---------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg); /* escurecendo a imagem */
    background-size: cover; /* para mostrar toda a imagem */
    height: 100vh; /* 100% da viewport */
    background-position: center;
}

.hero-text-box {
    position: absolute; /* pode ser posicionado em qualquer lugar */
    width: 1140px; /* basicamente, neste caso, vai fazer o texto ficar em linha, no limite do tamanho da página */
    top: 50%; /* posicionando como elemento absoluto, 50% de distância do topo até o texto */
    left: 50%; /* 50% de distância da esquerda até o texto */
    transform: translate(-50%, -50%); /* truque para centralizar o centro do elemento com o centro do elemento pai, translate(x,y) */
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%; /* 18px divido por 20px do padrão que coloquei no html */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------------------------*/
/* FEATURES */
/*---------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}

/*---------------------------------------------------*/
/* MEALS */
/*---------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%; /* toda a tela */
}

.meals-showcase li {
    display: block;
    width: 25%; /* são 4 li com 4 imagens ocupando 25% do elemento pai que tem 100% */
    float: left;
}

.meal-photo {
   width: 100%; /* a foto aparece inteira usando os 100% dos 25% do elemento pai */
   margin: 0;
   overflow: hidden; /* usado quando o conteúdo é maior que o container */
   background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15); /* zoom dado nas imagens */
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7; /* outra maneira de escurecer uma foto porém a opacidade depende do background do elemento pai */
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*---------------------------------------------------*/
/* HOW IT WORKS */
/*---------------------------------------------------*/

.section-steps {
    background-color: rgb(240, 240, 240);
}

.steps-box:first-child { /* pseudo-classe que seleciona o primeiro elemento filho */
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child { /* pseudo-classe que seleciona o último elemento filho */
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type { /* representa o último irmão com o nome do elemento dado na lista de filhos de seu elemento pai */
    margin-bottom: 80px;
}

.works-step div {
    display: block;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 3%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}